<mat-drawer-container 
  class="app__container" 
  autosize
>
  <mat-drawer 
    #drawer 
    class="drawer" 
    mode="side"
  >
    <p> Auto-resizing sidenav </p>
  </mat-drawer>

  <mat-toolbar
  >
    <button
      mat-icon-button
      type="button" 
      mat-button 
      (click)="drawer.toggle()"
      class="app__menu-btn"
    >
      <mat-icon> menu </mat-icon>
    </button>

    <span> Angular user management </span>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-drawer-container>
