<div class="user-card__wrap">
  <div class="user-card">

    <div class="user-card__photo">
      <img 
        [src]="user.picture.large" 
        alt="avatar"
      />
    </div>

    <div class="user-card__name">
      {{ user.name.first + " " + user.name.last }}
    </div>

    <div class="user-card__rating">
      <!-- <div class="user-card__rating-title">
        Rating
      </div> -->

      <div class="user-card__rating-status">
        {{ user.rating}}
      </div>

      <div class="user-card__rating-btns">
        <button 
          mat-mini-fab
          class="user-card__rating-btn"
          color="accent"
          (click)="increaseRating(user.login.uuid)"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button 
          mat-mini-fab
          class="user-card__rating-btn"
          color="accent"
          (click)="decreaseRating(user.login.uuid)"
        >
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>

    <div class="user-card__info">

      <table 
        mat-table 
        [dataSource]="userInfo" 
        class="user-card__table"
      >
      
        <ng-container matColumnDef="title">
          <td 
            mat-cell 
            *matCellDef="let user"
          > {{ user.title }} </td>
        </ng-container>
      
        <ng-container matColumnDef="value">
          <td 
            mat-cell 
            *matCellDef="let user"
          > {{ user.value}} </td>
        </ng-container>

        <tr 
          mat-row 
          *matRowDef="let row; columns: displayedColumns; let user;"
        ></tr>
      </table>

    </div>
    
  </div>
</div>
